.game-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}
@media screen and (max-width: 1024px){
    .game-page {
        position: absolute;
        min-width: 1024px;
    }
}

.playback {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;

    span{
        font-size: 30px;
    }
}
