.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    width: 100%;
    margin: 20% auto 0% auto;
    
    .menu-option{
        background-color: yellow;
        text-decoration: none;
        margin: 5px 0px;
        cursor: pointer;
    }
}