.modal{
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
    z-index: 3;
}

.modal-main {
    position: absolute;
    background:transparent;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .modal-button{
        background:red;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 38px;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        transform: translateY(-20px);
        transition: 0.4s;

        &:hover{
            background-color: black;
            border: 1px solid white;
        }
    }
}

.display-block{
    display: block;
}

.display-none {
    display: none;
}