%position-shared {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.board {
    perspective: 1000px;
    perspective-origin: center;  
    transform-style: preserve-3d;
    transform: rotateX(5deg)  rotateY(5deg);

    .cell-container{
        .cell {
            box-sizing: border-box;
            border: 1px solid rgba(102, 102, 102, 0.336);
            text-align: center;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(143, 143, 143, 0.315);
            font-size: 20px;
            transition: 0.5s
        }

        :first-child{
            background-color:rgba(255, 255, 0, 0.473)
        }
        :last-child{
            background-color:rgba(0, 128, 0, 0.377)
        }
    }
    .player {
        position: absolute;
        transition: 0.3s;
        font-size: 30px;
        padding: 5px;
    }
}

.controls{ 
    @extend %position-shared;
    top: 90vh;
    width: 300px;
    height: 70px; 
    display:flex;
    justify-content: center;  
    align-items: center;
    z-index: 99;

    .roll-dice {
        border: none;
        transform: rotate(20deg);
        color: green;
        transition: 0.5s;
        background-color: transparent;
        font-size:40px;
    
        &:hover {
          color: purple; 
          transform: rotate(240deg); 
        }
        &:focus {
            outline-style:none;
        }
    }

    .end-turn{
        border: none;
        background-color: yellow;
        transition: 0.5s;
        font-size:24px;
    
        &:hover {
            background-color: blue;
            color: white; 
        }
    }
    
}

.info {
    @extend %position-shared;
    top: 78vh;
    text-align: center;
    width: 200px;
    height: 40px; 
    font-size: 30px; 
    animation-name: fadeOut;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;  
    z-index: 99;
}

.winner{
    @extend %position-shared;
    top: 30vh;
    margin: auto;
    text-align: center;
    padding: 40px 20px;
    width: 200px;
    height: 130px;
    box-shadow: 3px 3px 7px 1px gray;
    font-size: 30px;
    animation: flash;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    z-index: 99;
}

.background {
    @extend %position-shared;
    height: 100vh;
    background-image: url('../../assests/backgrounds/bg1.jpg');
    transition: 0.6s;
    opacity: 0.4;
    z-index: -1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flash {
    from {
        background-color: rgb(168, 212, 170);
    }
    50% {
        background-color: rgb(70, 209, 70);
    }
    to {
        background-color: rgb(168, 212, 170);
    }
}