.cell-container {
    position: 'relative'; 
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(20deg)  rotateY(20deg);

    
    .cell {
        box-sizing: border-box;
        border: 1px solid rgba(85, 85, 85, 0.336);
        line-height: 50px;
        text-align: center;
        position: absolute;
        background-color: rgba(143, 143, 143, 0.315);
    }

    :first-child{
        background-color:rgba(255, 255, 0, 0.473)
    }
    :last-child{
        background-color:rgba(0, 128, 0, 0.377)
    }
}
