.cell-container {
    perspective: 1000px;
    perspective-origin: center;  
    transform-style: preserve-3d;
    transform: rotateX(20deg)  rotateY(20deg);
    
    .cell {
        box-sizing: border-box;
        border: 1px solid rgba(85, 85, 85, 0.336);
        text-align: center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(143, 143, 143, 0.315);
        font-size: 20px
    }

    :first-child{
        background-color:rgba(255, 255, 0, 0.473)
    }
    :last-child{
        background-color:rgba(0, 128, 0, 0.377)
    }
}

.roll-dice {
    display: block;
    position: fixed;
    margin:30% 0 0 10%;
    border: none;
    transform: rotate(20deg);
    color: green;
    transition: 0.5s;
    background-color: transparent;
    font-size:50px;

    &:hover {
      color: purple; 
      transform: rotate(240deg); 
    }
    &:focus {
        outline-style:none;
    }
}
