.option-container {
    display: flex;
    padding: 10px 0;

    .label {
        font-size: 22px;
        color:rgb(253, 253, 253);
        background-color: gray;
        padding: 0 3px;
    }
    .player-name-tab {
        display:flex;
        width: 120px;
        justify-content: space-between;

        .current-player{
            font-size: 22px;
            width: 200px;
            text-align: center;
        }

        button{
            background-color:rgb(160, 228, 255);
            outline: none;
            font-size: 22px;

            &:hover{
               color: purple;
            }
        }
    }
    
    .player-icon-tab {
        min-width: 120px;
        display: flex;
        justify-content: space-between;
    
        .icon {
            position: absolute;
            width: fit-content;
            font-size: 18px;
            transform: translate(45px, 0%);
        }

        button{
            background-color:rgb(160, 228, 255);
            outline: none;
            font-size: 22px;

            &:hover{
               color: purple;
            }
        }
    }
}
