.setting-page{
    display: flex;
    width: 80vw;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;
    margin: 20% auto;
    position:absolute;
}
.setting-nav {
    width: 30vw;
    cursor: pointer;
}
.setting-display {
    width: 50vw;
}